/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/** end reset css**/
body {
	background-color: #FFFEF8;
	font-family: 'Work Sans' ;
	font-size: 14px;
}
header {
	width: 100%;
}
#headerBase {
	display: flex;
	justify-content: space-between;
	max-width: 1140px;
	margin:auto;
	padding-top: 50px;
}
section {
	margin: 50px 0
}

#editionMode {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: black;
	height: 59px;
	display: none;
}
#editionMode i {
	width: 15px;
	height: 15px;
	margin-right: 10px;
}
#editionMode .fa-regular {
	color: #FFFFFF;
}
#editionMode p {
	color: #ffffff;
}

h1{
	display: flex;
	flex-direction: column;
	font-family: 'Syne';
	font-size: 22px;
	font-weight: 800;
	color: #B1663C
}

h1 > span {
	font-family: 'Work Sans';
	font-size:10px;
	letter-spacing: 0.1em;
;
}

h2{
	font-family: 'Syne';
	font-weight: 700;
	font-size: 30px;
	color: #1D6154
}
nav ul {
	display: flex;
	align-items: center;
	list-style-type: none;

}
nav li {
	padding: 0 10px;
	font-size: 1.2em;
}
nav li a {
	text-decoration: none;
	color: black;
}
#login {
	font-weight: bold;
}

li:hover {
	color: #B1663C;
}
main {
	max-width: 1140px;
	margin:auto;
}
#introduction {
	display: flex;
	align-items: center;
}
#introduction figure {
	flex: 1
}
#introduction img {
	display: block;
	margin: auto;
	width: 80%;
}

#introduction article {
	flex: 1
}
#introduction h2 {
	margin-bottom: 1em;
}

#introduction p {
	margin-bottom: 0.5em;
}
#portfolio h2 {
	text-align: center;
	margin-right: 31px ;
	
}
#project {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-bottom: 1em;
}
#project i {
	margin-right: 10px;
}
#project a {
	display: flex;
	color: black;
	text-decoration: none;
}

/* construction de la modal*/
.modal {
	display: none;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.3);
}
.modalBox {
	border-radius: 10px;
	width: 630px;
	height: 688px;
	margin: 0;
	background-color: #ffffff;

	.fa-xmark {
		position: relative; right: 30px;
		display: flex;
		justify-content: flex-end;
		margin-top: 26px;
		margin-right: 30px;
		width: 100%;
		height: 24px;
		font-size: 24px;
	}
	h2 {
		font-family: 'Work Sans';
		font-weight: 400;
		font-size: 26px;
		margin-top: 10px;
		margin-bottom: 46px;
		color: black;
	}
	.galleryModal {
		display: flex;
		justify-content: flex-start;
		align-items: flex-start;
		flex-wrap: wrap;
		gap: 29px 9px;
		margin-left: 105px;
		margin-right: 105px;
		width: 420px;
		height: 433px;
		border-bottom: 1px solid #b3b3b3;
	}
	figure {
		height: 102px;
		width: 76px;	
	}
	img {
		display: flex;
		flex-direction: column;
		width: 100%;
		height: 100%;
	}
	.fa-trash-can {
		display: flex;
		justify-content: center;
		align-items: center;
		position: relative; top: -98px; left: 55px;
		padding: 0;
		margin: 0;
		color: white;
		background-color: black;
		width: 17px;
		height: 17px;
		font-size: 11px;
	}
	boutton {
		display: flex;
		justify-content: center;
		align-items: center;
		font-family: 'Syne';
		font-weight: 700;
		font-size: 14px;
		width: 237px;
		height: 36px;
		border-radius: 60px;
		color: white;
		background-color: #1D6154;
	}
	.footerModal {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		height: 119px;
	}
}
#modal2 .modalBox {
	display: flex;
	flex-direction: column;
	align-items: center;
	#alignementFa {
		display: flex;
		.fa-arrow-left {
			display: flex;
			align-items: flex-start;
			position: relative; left: -250px; top: 26px;
			font-size: 21px;
		}
		.fa-xmark {
			position: relative; left: 250px;
		}
	}
	.imageBox {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-evenly;
		background-color: #E8F1F6;
		width: 420px;
		height: 169px;
		boutton {
			color: #306685;
			background-color: #CBD6DC;
		}
		.fa-image {
			font-size: 76px;
			color: #B9C5CC;
		}
		#imageDimension {
			font-family: 'Work Sans';
			font-size: 10px;
			font-weight: 400;
			color: #444444;
		}
	}
	form {
		display: flex;
		flex-direction: column;
		margin-top: 30px;
		.formulaire {
			display: flex;
			flex-direction: column;
			padding-bottom: 26px;
			margin-bottom: 32px;
			border-bottom: 1px solid #B3B3B3;
		}
		label {
			font-family: 'Work Sans';
			font-size: 14px;
			font-weight: 500;
			line-height: 16.42px;
			text-align: left;
			margin-bottom: 10px;
		}
		input {
			border: none;
			box-shadow: 0px 4px 14px 0px #00000017;
			width: 402px;
			height: 51px;
			margin-bottom: 21px;
			padding-left: 16px;
			font-family: 'Work Sans';
			font-size: 14px;
			font-weight: 400;
			line-height: 16.42px;
		}
		select {
			border: none;
			box-shadow: 0px 4px 14px 0px #00000017;
			width: 420px;
			height: 51px;
			margin-bottom: 21px;
			padding-left: 16px;
			font-family: 'Work Sans';
			font-size: 14px;
			font-weight: 400;
			line-height: 16.42px;
		}
		option {
			width: 20px;
		}
		#validation {
			width: 237px;
			height: 36px;
			margin-top: 0;
		}
	}
}
#categorie {
	display: flex;
	justify-content: center;
	margin: 0 183px 0 182px;
}
#categorie button {
	font-family: 'Syne';
	font-size: 16px;
	border: 1px solid #1D6154;
	border-radius: 60px;
	padding: 9px;
	margin: 0 5px 50px 5px;
	color: #1D6154;
	background-color: #FFFEF8;
}
#categorie button:active {
	background-color: #1D6154;
	color: #FFFFFF;
}

.gallery {
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 20px;
	grid-row-gap: 20px;
}

.gallery img {
	width: 100%;
}

.gallery figcaption {
	color: #3D3D3D;
	font-family: Work Sans;
	font-size: 13px;
	font-weight: 400;
}
#contact {
	width: 50%;
margin: auto;
}
#contact > * {
	text-align: center;

}
#contact h2{
	margin-bottom: 20px;
}
#contact form {
	text-align: left;
	margin-top:30px;
	display: flex;
	flex-direction: column;
}

#contact input {
	height: 50px;
	font-size: 1.2em;
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact label {
	margin: 2em 0 1em 0;
}
#contact textarea {
	border: none;
	box-shadow: 0px 4px 14px rgba(0, 0, 0, 0.09);
}
#contact a {
	display: flex;
	justify-content: center;
	text-decoration: underline;
}

input[type="submit"]{
	font-family: 'Syne';
	font-weight: 700;
	color: white;
	background-color: #1D6154;
	margin : 2em auto ;
	width: 180px;
	text-align: center;
	border-radius: 60px ;
}

footer {
	width: 100%;
}

footer nav ul {
	display: flex;
	justify-content: flex-end;
	margin: 2em;
	padding: 24px 0 20px 0;
	background-color: #FFFFFF;
}

